*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  padding-bottom: 2rem;
}

.box1{
  position: relative;
  width: 3rem;
}

.box2{
  position: absolute;
  top: -18px;
  right: 0;
  color: black;
  height: 28px;
  width: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #FF6347;
}

header{
  display: flex;
  background-color: #333;
  justify-content: center;
  padding: 30px;
  align-items: center;
  color: white;
}

nav{
  width: 95%;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.fa-solid{
  font-size: 30px;
  color: wheat;
}

.cart-count{
  font-size: 20px;
  font-weight: 400;
}

.cartBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.cartBox1{
  display: flex;
  align-items: center;
}

.cartBox2{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.cartBox-detail{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.para1{
  font-size: 22px;
  font-weight: 500;
  color: black;
}

.para2{
  color: gray;
}

.remove{
  border: none;
  background: transparent;
  cursor: pointer;
  color: #5396e7;
  font-size: 18px;
}

.material-symbols-outlined{
  font-size: 26px !important;
  color: #4dafe8;
  font-weight: 900;
}

.material-symbols-outlined:hover{
  color: #1989ab;
}

main{
  width: 80%;
  margin-top: 2rem;
}

.cartBox22{
  border-top: 1px solid rgb(60, 73, 138);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.main-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total{
  font-size: 24px;
}

.total-price{
  font-size: 24px;
  background-color: #e7ebee;
  color: white;
  border-radius: 3px;
  padding: 3px 7px;
}

/* Creatively Styled "Clear" Button */
.clear{
  margin: 20px auto;
  background-color: #FF6347;
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 100%;
  outline: 0;
  padding: 15px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  width: 60%;
  display: block;
}

.clear:hover {
  background-color: #9f56d8;
}

.clear:active {
  transform: translateY(2px);
}

.clear:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}
